In [1]:
#Import the required modules

import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine

In [2]:
df =  pd.read_csv('owid-covid-data.csv')
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166321,ZWE,Africa,Zimbabwe,2022-03-01,236871.0,491.0,413.000,5395.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166322,ZWE,Africa,Zimbabwe,2022-03-02,237503.0,632.0,416.286,5396.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166323,ZWE,Africa,Zimbabwe,2022-03-03,237503.0,0.0,362.286,5396.0,0.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166324,ZWE,Africa,Zimbabwe,2022-03-04,238739.0,1236.0,467.429,5397.0,1.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166325,ZWE,Africa,Zimbabwe,2022-03-05,239019.0,280.0,459.429,5397.0,0.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [3]:
#I will only need some of the columns
#Country, date, total cases, total deaths,cases per million, deaths per million, total tests, total vaccinations

df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
new_col = (['location', 'date', 'total_cases', 'total_deaths', 'total_cases_per_million','total_deaths_per_million',
'people_vaccinated', 'people_fully_vaccinated', 'excess_mortality_cumulative','excess_mortality', 
            'excess_mortality_cumulative_per_million'])

old_col = ['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million']

dropping = set(old_col).difference(new_col)
dropping

{'aged_65_older',
 'aged_70_older',
 'cardiovasc_death_rate',
 'continent',
 'diabetes_prevalence',
 'excess_mortality_cumulative_absolute',
 'extreme_poverty',
 'female_smokers',
 'gdp_per_capita',
 'handwashing_facilities',
 'hosp_patients',
 'hosp_patients_per_million',
 'hospital_beds_per_thousand',
 'human_development_index',
 'icu_patients',
 'icu_patients_per_million',
 'iso_code',
 'life_expectancy',
 'male_smokers',
 'median_age',
 'new_cases',
 'new_cases_per_million',
 'new_cases_smoothed',
 'new_cases_smoothed_per_million',
 'new_deaths',
 'new_deaths_per_million',
 'new_deaths_smoothed',
 'new_deaths_smoothed_per_million',
 'new_people_vaccinated_smoothed',
 'new_people_vaccinated_smoothed_per_hundred',
 'new_tests',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'new_vaccinations_smoothed_per_million',
 'people_fully_vaccinated_per_hundred',
 'people_vaccinated_per_hundred',
 'population',
 'population_density',
 'positive_rate',
 'reproduction_rate',
 'stringency_index',
 'tests_per_case',
 'tests_units',
 'total_boosters',
 'total_boosters_per_hundred',
 'total_tests',
 'total_tests_per_thousand',
 'total_vaccinations',
 'total_vaccinations_per_hundred',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million'}

In [5]:
#drop the unwanted columns
df_1 = df.drop(dropping, axis = 1)
df_1

,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,people_vaccinated,people_fully_vaccinated,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,Afghanistan,2020-02-24,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2020-02-25,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2020-02-26,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2020-02-27,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2020-02-28,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
166321,Zimbabwe,2022-03-01,236871.0,5395.0,15694.959,357.470,4365856.0,3399915.0,NaN,NaN,NaN
166322,Zimbabwe,2022-03-02,237503.0,5396.0,15736.835,357.536,4368726.0,3402434.0,NaN,NaN,NaN
166323,Zimbabwe,2022-03-03,237503.0,5396.0,15736.835,357.536,4372925.0,3406482.0,NaN,NaN,NaN
166324,Zimbabwe,2022-03-04,238739.0,5397.0,15818.731,357.603,4374896.0,3408609.0,NaN,NaN,NaN
166325,Zimbabwe,2022-03-05,239019.0,5397.0,15837.284,357.603,NaN,NaN,NaN,NaN,NaN

In [6]:
df_1.info

<bound method DataFrame.info of            location        date  total_cases  total_deaths  \
0       Afghanistan  2020-02-24          5.0           NaN
1       Afghanistan  2020-02-25          5.0           NaN
2       Afghanistan  2020-02-26          5.0           NaN
3       Afghanistan  2020-02-27          5.0           NaN
4       Afghanistan  2020-02-28          5.0           NaN
...             ...         ...          ...           ...
166321     Zimbabwe  2022-03-01     236871.0        5395.0
166322     Zimbabwe  2022-03-02     237503.0        5396.0
166323     Zimbabwe  2022-03-03     237503.0        5396.0
166324     Zimbabwe  2022-03-04     238739.0        5397.0
166325     Zimbabwe  2022-03-05     239019.0        5397.0

        total_cases_per_million  total_deaths_per_million  people_vaccinated  \
0                         0.126                       NaN                NaN
1                         0.126                       NaN                NaN
2                         0.126                       NaN                NaN
3                         0.126                       NaN                NaN
4                         0.126                       NaN                NaN
...                         ...                       ...                ...
166321                15694.959                   357.470          4365856.0
166322                15736.835                   357.536          4368726.0
166323                15736.835                   357.536          4372925.0
166324                15818.731                   357.603          4374896.0
166325                15837.284                   357.603                NaN

        people_fully_vaccinated  excess_mortality_cumulative  \
0                           NaN                          NaN
1                           NaN                          NaN
2                           NaN                          NaN
3                           NaN                          NaN
4                           NaN                          NaN
...                         ...                          ...
166321                3399915.0                          NaN
166322                3402434.0                          NaN
166323                3406482.0                          NaN
166324                3408609.0                          NaN
166325                      NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
166321               NaN                                      NaN
166322               NaN                                      NaN
166323               NaN                                      NaN
166324               NaN                                      NaN
166325               NaN                                      NaN

[166326 rows x 11 columns]>

In [7]:
df_1.dtypes

location                                    object
date                                        object
total_cases                                float64
total_deaths                               float64
total_cases_per_million                    float64
total_deaths_per_million                   float64
people_vaccinated                          float64
people_fully_vaccinated                    float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
dtype: object

In [8]:
#covert data types
df_2 = df_1.convert_dtypes()
df_2.dtypes

location                                    string
date                                        string
total_cases                                  Int64
total_deaths                                 Int64
total_cases_per_million                    Float64
total_deaths_per_million                   Float64
people_vaccinated                          Float64
people_fully_vaccinated                    Float64
excess_mortality_cumulative                Float64
excess_mortality                           Float64
excess_mortality_cumulative_per_million    Float64
dtype: object

In [9]:
df_1.head()

,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,people_vaccinated,people_fully_vaccinated,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,Afghanistan,2020-02-24,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2020-02-25,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2020-02-26,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2020-02-27,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2020-02-28,5.0,NaN,0.126,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#How many values are N/A in each column

df_2.isna().sum()

location                                        0
date                                            0
total_cases                                  3033
total_deaths                                20875
total_cases_per_million                      3791
total_deaths_per_million                    21620
people_vaccinated                          123339
people_fully_vaccinated                    126085
excess_mortality_cumulative                160630
excess_mortality                           160630
excess_mortality_cumulative_per_million    160630
dtype: int64

In [11]:
#Most of the excess mortality columns are empty, I will not be able to get any meaningful information from them 
#dropping the excess mortality columns

df_3 = df_2.drop(['excess_mortality_cumulative', 'excess_mortality','excess_mortality_cumulative_per_million'], axis = 1)
df_3

,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,people_vaccinated,people_fully_vaccinated
0,Afghanistan,2020-02-24,5,<NA>,0.126,<NA>,<NA>,<NA>
1,Afghanistan,2020-02-25,5,<NA>,0.126,<NA>,<NA>,<NA>
2,Afghanistan,2020-02-26,5,<NA>,0.126,<NA>,<NA>,<NA>
3,Afghanistan,2020-02-27,5,<NA>,0.126,<NA>,<NA>,<NA>
4,Afghanistan,2020-02-28,5,<NA>,0.126,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...
166321,Zimbabwe,2022-03-01,236871,5395,15694.959,357.47,4365856.0,3399915.0
166322,Zimbabwe,2022-03-02,237503,5396,15736.835,357.536,4368726.0,3402434.0
166323,Zimbabwe,2022-03-03,237503,5396,15736.835,357.536,4372925.0,3406482.0
166324,Zimbabwe,2022-03-04,238739,5397,15818.731,357.603,4374896.0,3408609.0
166325,Zimbabwe,2022-03-05,239019,5397,15837.284,357.603,<NA>,<NA>

In [12]:
# change N/A values to 0 in deaths and vaccinations culumns

df_3[['total_cases','total_deaths',
      'total_cases_per_million', 'total_deaths_per_million',
      'people_vaccinated', 'people_fully_vaccinated']] = df_3[['total_cases','total_deaths',
                                                               'total_cases_per_million', 'total_deaths_per_million',
                                                               'people_vaccinated','people_fully_vaccinated']].fillna(0)

In [13]:
#change the people vaccinated and fully vaccinated columns to int
df_3[[ 'people_vaccinated', 'people_fully_vaccinated']] = df_3[['people_vaccinated',
                                                                'people_fully_vaccinated']].apply(np.int64)

In [14]:
df_3.isna().sum()

location                    0
date                        0
total_cases                 0
total_deaths                0
total_cases_per_million     0
total_deaths_per_million    0
people_vaccinated           0
people_fully_vaccinated     0
dtype: int64

In [15]:
df_3.dtypes

location                     string
date                         string
total_cases                   Int64
total_deaths                  Int64
total_cases_per_million     Float64
total_deaths_per_million    Float64
people_vaccinated             int64
people_fully_vaccinated       int64
dtype: object

In [16]:
#Change the date column to type datetime
df_3.date = pd.to_datetime(df_2.date)

In [17]:
df_3.dtypes

location                            string
date                        datetime64[ns]
total_cases                          Int64
total_deaths                         Int64
total_cases_per_million            Float64
total_deaths_per_million           Float64
people_vaccinated                    int64
people_fully_vaccinated              int64
dtype: object

In [18]:
df_3.head()

,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,people_vaccinated,people_fully_vaccinated
0,Afghanistan,2020-02-24,5,0,0.126,0.0,0,0
1,Afghanistan,2020-02-25,5,0,0.126,0.0,0,0
2,Afghanistan,2020-02-26,5,0,0.126,0.0,0,0
3,Afghanistan,2020-02-27,5,0,0.126,0.0,0,0
4,Afghanistan,2020-02-28,5,0,0.126,0.0,0,0

In [19]:
#change location column to country to match national wealth table 
df_3.columns

Index(['location', 'date', 'total_cases', 'total_deaths',
       'total_cases_per_million', 'total_deaths_per_million',
       'people_vaccinated', 'people_fully_vaccinated'],
      dtype='object')

In [20]:
df_3.columns = ['Country', 'Date', 'Total_cases', 'Total_deaths',
       'Total_cases_per_million', 'Total_deaths_per_million',
       'Total_vaccinated', 'Total_fully_vaccinated']
df_3.head()

,Country,Date,Total_cases,Total_deaths,Total_cases_per_million,Total_deaths_per_million,Total_vaccinated,Total_fully_vaccinated
0,Afghanistan,2020-02-24,5,0,0.126,0.0,0,0
1,Afghanistan,2020-02-25,5,0,0.126,0.0,0,0
2,Afghanistan,2020-02-26,5,0,0.126,0.0,0,0
3,Afghanistan,2020-02-27,5,0,0.126,0.0,0,0
4,Afghanistan,2020-02-28,5,0,0.126,0.0,0,0

In [23]:
conn = create_engine('mysql+pymysql://root:mADZIVIRE1996@localhost:3306/covid_and_wealth', echo = False)

In [29]:
df_3.to_sql(name='covid_19_data', con=conn, if_exists = 'append', index=False)